.content {
    display: flex;
}

.experience {
    color: #FFFFFF;
    margin-top: 1rem;
    height: 8rem;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    border-radius: .2rem;
}


#exp2 {
    background-color: #1e2b3d;
}

#exp1 {
     background-color: #1e2b3d;
}

p {
    color: #ffffff;
}